/fds-challenge-dataset
/fifth_pokemon_battle_submission.csv
/fourth_pokemon_battle_submission.csv
/pokemon_battle_checkpoints
/pokemon_battle_checkpoints_old
/second_pokemon_battle_submission.csv
/seventh_pokemon_battle_submission.csv
/sixth_pokemon_battle_submission.csv
/temp.json
/test.jsonl
/third_pokemon_battle_submission.csv
/*.obj
